import React, { PropTypes } from 'react';

const <%= helpers.capitalize(name) %> = (props, context) => {
  return (
    <div>
      <h1>Hello!</h1>
    </div>
  );
}

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;
